:root{
    --color_primary: #0D0D0D;
    --color_secundary: #F2F2F2;
    --color_terciary: #403F3D;
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    min-height: 100dvh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_secundary);
    transition: .3s ease-in-out;
}

.container_on{
    background-color: var(--color_primary);
}

.container .cont_dark_mode_of{
    width: 80%;
    max-width: 800px;
    min-height: 400px;
    margin: 0 auto;
    border: 1px solid;
    position: relative;
    background: url(https://image.winudf.com/v2/image/Y29tLkx1bmEuU3Vuc2V0LldhbGxwYXBlcl9zY3JlZW5fMV8xNTM4MDkxNzE4XzAyMA/screen-1.jpg?fakeurl=1&type=.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .3s ease-in-out;

}

.container .cont_dark_mode_on{
    width: 80%;
    max-width: 800px;
    min-height: 400px;
    margin: 0 auto;
    border: 1px solid var(--color_secundary);
    position: relative;
    background: url(https://images.wallpaperscraft.com/image/single/moon_stars_space_159884_1280x720.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .3s ease-in-out;

}

.container .cont_dark_mode_of .box_dark_mode{
    width: 120px;
    height: 25px;
    border: 2px solid;
    border-radius: 20px;
    position: absolute;
    right: 5px;
    top: 2%;
    background-color: var(--color_secundary);

}

.container .cont_dark_mode_of .box_dark_mode .box_ligth_of{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    
}


.container .cont_dark_mode_of .box_dark_mode .ligth_of{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    background-color: var(--color_primary);
    transition: .3s ease-in-out;
}

.container .cont_dark_mode_of .box_dark_mode .ligth_on{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 85%;
    transition: .3s ease-in-out;
}



